# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
*.iml
.idea/

# Virtualenv
venv/

# Django stuff:
*.log
local_settings.py
*.sqlite3
media/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pid

.vscode/

