asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
cryptography==2.6.1
coverage==4.5.3
Django==2.2
django-extensions==2.1.6
django-sslserver==0.20
django-werkzeug-debugger-runserver==0.3.1
idna==2.8
more-itertools==7.0.0
Pillow==6.0.0
pluggy==0.9.0
py==1.8.0
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
pytest==4.4.0
pytz==2018.9
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.1
Werkzeug==0.15.2
