# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
*.iml
.idea/

# Virtualenv
venv/

# Django stuff:
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pkl

*.pid

.vscode/

